main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: -webkit-linear-gradient(left, #a445b2, #fa4299);
}
.fileUploadWrapper{
    display: flex;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed #424242;
    height: 300px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #e9f0ff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.uploadingIcon{
    position: absolute;
    display: flex;
    gap: 2rem;
    align-items: center;
}
.uploaded-row{
    width: 500px;
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #e9f0ff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.btnDiv{
    display: flex;
    justify-content: center;
}
.btn{
    border-radius: 5px;
    padding: 15px;
    border: none;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
}
.btn:hover{
    background-color: orange;
    color: #e9f0ff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.deleteIcon{
    margin-left: 1rem;
    font-size: large;
}