.navContainer {
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 3;
}
.leftDiv {
  width: 200px;
  height: 80px;
  margin-left: 35px;
}
.logo {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.rigthDiv {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 4rem;
  font-family: "Poppins Light", sans-serif;
  text-transform: capitalize;
  color: #252641;
  font-weight: 500;
  cursor: pointer;
  margin-right: 25px;
}
.requestbtn {
  width: 180px;
}
.reqBtn {
  background-color: rgb(235, 122, 2);
  max-width: 180px;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease-in-out 0s;
  border-radius: 80px;
  border: none;
  padding: 15px;
  cursor: pointer;
  text-transform: capitalize;
  border: 5px solid rgb(237, 243, 245);
  font-size: 1rem;
  font-weight: 700;
}
.reqBtn:hover {
  border: 5px solid rgb(238, 184, 127);
}
.toggleBar {
  display: none;
}

@media only screen and (max-width: 900px) {
  .toggleBar {
    display: block;
  }
  .home {
    display: none;
  }
  .trupulseDiv {
    display: none;
  }
  .aboutDiv {
    display: none;
  }
  .blogDiv {
    display: none;
  }
  .requestbtn {
    display: none;
  }
}
